{% extends 'base.html.twig' %}

{% block title %}Головна сторінка{{ parent() }}{% endblock %}

{% block header %}
    <section>
        <a href="#">Додати нове скорочення</a>
{#        <a href="{{ links.new_url }}">Додати нове скорочення</a>#}
    </section>
{% endblock %}

{% block content %}

    Головна сторінка TEst

{% endblock %}