{% extends 'base.html.twig' %}

{% block title %} Hello World Page {% endblock %}

{% block body %}

    <section>
        <div class="container" style="padding: 3rem 0;">
            <div class="row">
                <div class="alert alert-success col-3" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>test new page</p>
                    <hr>
                    <p class="mb-0">Hello {{ test }}</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
